@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;500;700&display=swap");

:root {
  --background: #fffdf6;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  font-family: "Azeret Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header Styles */
.header-navbar {
  background-color: transparent;
}

.header-container {
  background-color: #0f411e;
  color: #ffffff;
  padding: 20px 60px !important;
  border: 1px solid #0f411e;
  border-radius: 10px;
}

.header-container .logo {
  color: #fffdf6;
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2em;
  text-decoration: none;
}

.header-container .logo:hover {
  color: #fffdf6;
}

.header-container .menu a {
  color: #ffffff;
  font-family: "Azeret Mono", monospace;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  padding: 0 10px !important;
  text-decoration: none;
}

.header-container .menu a:hover,
.header-container .menu a:focus,
.header-container .menu a:active {
  color: #e9f2d8 !important;
}

/* Footer Styles */
.footer-container {
  background-color: #0f411e;
  color: #ffffff;
  padding: 30px 60px !important;
  border: 1px solid #0f411e;
  border-radius: 10px;
}

.footer-container .footer-row-1 {
  margin-bottom: 120px;
}

.footer-container .logo {
  color: #fffdf6;
  font-family: "Fraunces", serif;
  font-size: 75px;
  font-weight: 500;
  line-height: 1.2em;
  text-decoration: none;
}

.footer-container .logo:hover {
  color: #fffdf6;
}

.footer-container ul li a {
  color: #fffdf6;
  font-family: "Azeret Mono", monospace;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  text-decoration: none;
}

.footer-container .copy {
  color: #fffdf6;
  font-family: "Azeret Mono", monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
}

/* Homepage Styles */
.banner-container {
  background-image: url("/banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px !important;
  border-radius: 10px;
}

.banner-container .banner-column {
  background-color: #fffdf6;
  padding: 40px;
  border-radius: 10px;
  height: 100%;
}

.banner-container .banner-column h1 {
  color: #0f411e;
  font-family: "Fraunces", serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 1px;
}

.banner-container .banner-column p {
  color: #0f411e;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
}

.banner-container .banner-column a {
  background-color: #fffba1;
  color: #0f411e;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  border: 1px solid #0f411e;
  border-radius: 25px;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
}

.banner-container .banner-column a:hover {
  background-color: #0f411e;
  color: #fffdf6;
}

/* About Us Styles */
.about-container {
  background-color: #0f411e;
  padding: 60px !important;
  border-radius: 10px;
}

.about-container span {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
  color: #fffdf6;
  display: block;
  margin-bottom: 10px;
}

.about-container h2 {
  color: #fffdf6;
  font-family: "Fraunces", serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 1px;
  margin: 0;
}

/* Mission & Value Styles */
.mission-container .mission,
.mission-container .values {
  background-color: #eaf1d8;
  padding: 60px;
  border-radius: 10px;
  height: 100%;
}

.mission-container .mission h3,
.mission-container .values h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
  color: #0f411e;
  font-family: "Fraunces", serif;
}

.mission-container .mission p,
.mission-container .values p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  color: #0f411e;
}
